.editor {
  padding: 32px 24px 24px !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  & > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

.smaller-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .smaller-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 12px;
    margin: 0 0 0 -12px;
    border-radius: 10px;
    align-self: stretch;
    cursor: pointer;

    &:hover {
      background: #f2f2f2;
    }

    &:active {
      background: #e5e5e5;
    }
  }
}