.schedule-page {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    .divider {
        display: inline-block;
        background: #e5e5e5;
        width: 1px;
        margin: 18px 0;
    }

    .list-container {
        display: inline-block;
        width: 50%;
        height: 100%;
    }

    .editor-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
