.schedule-page {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    .list {
        flex-grow: 0;
        width: 300px;
    }
}
