.courses-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.course-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 12px;
  margin: 0 -12px;
  border-radius: 10px;
  align-self: stretch;

  &:hover {
    background: #f2f2f2;
  }

  &:active {
    background: #e5e5e5;
  }
}