$dot-size: 5px;
$dot-spacing: 2px;

.priority-display {
    width: calc(5 * #{$dot-size} + 4 * #{$dot-spacing});
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;

    .dot {
        background: currentColor;
        display: inline-block;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: $dot-spacing;
        }
    }
}
