$dot-size: 5px;

.priority-display {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-grow: 0 !important;
    flex-shrink: 0 !important;

    .dot {
        background: currentColor;
        display: inline-block;
        width: $dot-size;
        height: $dot-size;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 2px;
        }
    }
}
