
.root {
  display: flex;
  align-items: baseline;
  justify-content: stretch;

  .list-header {
    display: flex;
    align-items: center;
    flex-grow: 0;

    .chevron {
      display: inline-flex;
    }
  }

  .horizontal-line {
    display: inline-block;
    height: 1px;
    flex-grow: 1;
    background: #e5e5e5;
    border-radius: 0.5px;
    margin-left: 3px;
  }
}