@import '../../globals/global';

%list-shared {
    .list-cell {
        .actions {
            display: none;
        }

        &:hover {
            .actions {
                display: initial;
            }
        }
    }
}

.basic-list {
    @extend %list-shared;
}

.scrollable-list {
    @extend %list-shared;
    height: 100%;
    flex-grow: 1;
    background: white;
    overflow: hidden;
    border-right: solid 1px $border;

    .add-button {
        position: relative;
        left: calc(100% - 1.5em);
        bottom: 1.5em;
        transform: translate(-100%, -100%);
        z-index: 10;
    }

    .scroll-view {
        height: 100%;
        overflow-y: scroll;
    }
}
