@import '../../globals/global';

.small-list {
    .list-item {
        .actions {
            opacity: 0;
            transition: 0.2s;
            display: flex;
            margin-left: 6px;

            .action {
                margin: -2px 0px -2px 4px;
            }
        }

        &:hover .actions {
            opacity: 1;
        }
    }
}

%list-shared {
    .list-header {
        background: white;
    }

    .list-cell {
        .actions {
            flex-shrink: 0;
            display: none;
        }

        &:hover {
            .actions {
                display: initial;
            }
        }
    }
}

.basic-list {
    @extend %list-shared;
}

.scrollable-list {
    @extend %list-shared;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    flex-grow: 1;
    background: white;
    overflow: hidden;

    .add-button {
        position: absolute;
        right: 1.5em;
        bottom: 1.5em;
        z-index: 10;
    }

    .scroll-view {
        height: 100%;
        overflow-y: scroll;
    }
}
