@use '../../globals/global';
@use './sidebar.module';

.navbar {
    position: relative;
    height: global.$navbar-height;
    z-index: sidebar.$sidebar-z-index + 1 !important;
    background: none !important;
}

.title-container {
    position: absolute;
    width: calc(100vw - #{global.$sidebar-width});
    height: global.$navbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-text {
    user-select: none;
    line-height: global.$navbar-height !important;
}

.flexible-space {
    flex-grow: 1;
}
