@import '../../globals/global';
@import './sidebar.module';

.navbar {
    position: relative;
    height: $navbar-height;
    z-index: $sidebar-z-index + 1 !important;
    background: none !important;
}

.title-container {
    position: absolute;
    width: calc(100vw - #{$sidebar-width});
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content {
    padding: 0 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-text {
    line-height: $navbar-height !important;
}

.flexible-space {
    flex-grow: 1;
}
