@use '../../globals/global';

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.root-container {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    padding: 0 20px 20px 0;
}

.content {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    height: calc(100vh - #{global.$navbar-height} - 20px);
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}
