@import '../../global';

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

.navbar {
    padding: 0.5rem 0.8rem;
    background: $logan-bg;
    color: white;

    h2 {
        margin: 0px;
        font-weight: 600;

        .page-title {
            font-weight: normal;
        }
    }
}

.root-container {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
}

.content {
    height: calc(100vh - 64px);
    flex-grow: 1;
}
