@import '../../globals/global';

$sidebar-z-index: 20;

.sidebar {
    padding-top: calc(#{$navbar-height} + 24px);
    width: $sidebar-width;
    flex-shrink: 0;
    z-index: $sidebar-z-index;
}

.sidebar-button {
    padding: 20px 0px !important;
    background: none;
    border: none;
    color: white !important;
    appearance: none;
    width: 64px;
    min-height: 64px;
}

.button-label {
    line-height: normal;
    display: flex;
    flex-direction: column;
}

.sidebar-button-selected {
    @extend .sidebar-button;
    padding: 10px 0 !important;
    background: rgba(0, 0, 0, 0.15);
}

.button-title {
    text-transform: none;
    font-weight: 500 !important;
    padding-top: 4px;
}

.sidebar-paper {
    background: none !important;
    width: $sidebar-width;
    border-right: none !important;
}

.sidebar-container {
    overflow: auto;
}
