.overview-page {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;

  .divider {
    display: inline-block;
    background: #e5e5e5;
    width: 1px;
    margin: 18px 0;
  }

  .list-container {
    height: 100%;
    width: 30%;
    min-width: 400px;
  }

  .calendar-container {
    flex-grow: 1;
    padding: 0 24px;
    height: 100%;
  }
}
