.overview-list {
  flex-grow: 1;
  margin: 24px 0 0;

  .list-content {
    padding: 0 12px 24px 12px;

    .section {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      &:not(:last-of-type) {
        margin-bottom: 24px;
      }

      .header {
        padding: 0 12px 3px;
        background: white;
      }

      .subheader {
        padding: 0 12px !important;
        margin: 3px 0;

        .subheader-divider {
          opacity: 0.5;
        }

        &:first-of-type {
          margin-top: 0 !important;
        }
      }

      .cell {
        padding: 3px 12px !important;
        border-radius: 10px !important;

        &:hover {
          background: #f0f0f0;
        }

        &:active {
          background: #e5e5e5;
        }
      }
    }
  }
}