@import '../../globals/global';

.task-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.row {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.cell {
    display: flex;
    margin-right: 0.5rem;
    flex-direction: row;
    flex-grow: 1;
}

.title-input {
    font-size: 26px;
    flex-grow: 1;
}

.description-input {
    font-family: inherit;
    flex-grow: 1;
}
