@import '../../globals/global';

.tasks-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    background: white;

    .scrollview {
        flex-grow: 1;
        overflow-y: scroll;
        border-right: solid 1px $border;

        .heading {
            background: white;
        }
    }
}

