@import '../../globals/global';

.task-cell {
    display: flex;
    flex-direction: row;

    &> * {
       flex-grow: 1;
    }

    .actions {
        display: none;
    }

    &:hover {
        .actions {
            display: initial;
        }
    }
}
