@import '../../global';

.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.navbar {
    padding: 0.5rem 0.8rem;
    background: $logan-bg;
    color: white;

    h2 {
        margin: 0px;
    }
}

.sidebar {
    width: 40px;
    background: $logan-bg;
}

.tasks-page {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.task-editor {
    flex-grow: 1;
}
