.dialog {
    padding: 24px;
    border-radius: 10px !important;
}

.title {
    display: inline-block !important;
    padding: 0 !important;
    text-align: center !important;
    margin-bottom: 24px !important;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: scroll;

    & > *:not(:last-child) {
        margin-bottom: 8px;
    }
}

.actions {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;

    .cancel-button {
        background: grey !important;
    }

    .flexible-space {
        display: inline-block;
        flex-grow: 1;
    }
}

.wrapper {
    position: relative;

    .buttonProgress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
