@import '../../globals/global';

.tasks-page {
    height: 100%;
    flex-grow: 1;

    .tasks-list-container {
        flex-grow: 4;
        height: 100%;
    }

    .task-editor-container {
        flex-grow: 8;
        height: 100%;
    }
}
