@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$border: #eee;
$navbar-height: 50px;
$sidebar-width: 64px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.cell-upper-label {
    font-size: 0.875rem !important;

    .course-label {
        display: inline;
        font-size: inherit;
        font-weight: bold !important;
    }

    .assignment-label {
        display: inline;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.54) !important;
    }
}
