@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$border: #eee;

* {
    box-sizing: border-box !important;
}

html, body {
    margin: 0;
}

.cell-upper-label {
    font-size: 0.875rem !important;

    .course-label {
        display: inline;
        font-size: inherit;
        font-weight: bold !important;
    }

    .assignment-label {
        display: inline;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.54) !important;
    }
}
