@use './fonts/poppins.css';
@use './fonts/rubik.css';

$border: #eee;
$navbar-height: 50px;
$sidebar-width: 64px;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

.cell-upper-label {
    font-size: 0.875rem !important;

    .course-label {
        display: inline;
        font-size: inherit;
        font-weight: bold !important;
    }

    .assignment-label {
        display: inline;
        font-size: inherit;
        color: rgba(0, 0, 0, 0.54) !important;
    }
}
