.checkbox {
  padding: 0 !important;
  width: 18px;
  height: 18px;
  border-radius: 9px !important;
  border: solid 1px black !important;
  background: white !important;
  flex-shrink: 0 !important;
  flex-grow: 0 !important;

  .check-icon {
    display: none;
    margin-right: -5px;
    margin-top: -4px;
    width: 24px;
    height: 24px;
  }

  &.large {
    width: 22px;
    height: 22px;
    border-radius: 11px !important;

    .check-icon {
      margin-right: -7px;
      margin-top: -7px;
      width: 32px;
      height: 32px;
    }
  }

  &.checked {
    border-color: currentColor !important;

    .check-icon {
      display: initial;
    }
  }
}