$day-size: 28px;

.custom-date-picker {
  display: inline-block;
  --primary-color: white;
  --header-font-size: 0.75rem;
  --header-text-color: black;

  .MuiPickersStaticWrapper-staticWrapperRoot {
    min-width: 0 !important;

    .MuiPickersBasePicker-container {
      padding: 4px;
      background: var(--primary-color);
      border-radius: 0 4px 4px 4px;
    }

    .MuiPickersBasePicker-pickerView {
      min-width: 0 !important;
      min-height: 0 !important;
    }

    .MuiPickersCalendarHeader-switchHeader {
      margin: 0;
      padding: 0 0 6px;
      color: var(--header-text-color);

      .MuiPickersCalendarHeader-iconButton {
        color: black;
      }
    }

    .MuiPickersCalendarHeader-daysHeader {
      background: white;
      border-radius: 2px 2px 0 0;
      padding: 8px 3px 0;
    }

    .MuiPickersCalendarHeader-dayLabel {
      width: $day-size;
      margin: 0;
      font-size: var(--header-font-size);
      line-height: var(--header-font-size);
    }

    .MuiPickersCalendar-transitionContainer {
      padding: 8px 3px 3px;
      margin: 0;
      min-height: calc(6 * #{$day-size} + 11px);
      background: white;
      border-radius: 0 0 2px 2px;

      & > div {
        top: 8px;
      }
    }
  }

  .calendar-day {
    display: flex;
    width: $day-size;
    height: $day-size;
    border-radius: 14px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .calendar-today {
    background: #e5e5e5;
  }

  .outside-month {
    opacity: 0.25;
  }

  .calendar-day:hover:not(.outside-month) {
    background: #e5e5e5;
  }
}