.selectable {
  border-color: black !important;
  padding: 3px 8px !important;
  min-width: 0 !important;
  flex-shrink: 0;

  &.selected {
    color: white;
    background-color: black !important;
  }
}

.selectables {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  & > .selectable:not(:last-of-type) {
    margin-bottom: 4px;
    margin-right: 4px;
  }
}