.input-group {
  display: flex;
  flex-direction: column;
  border-collapse: collapse;

  th, td {
    padding: 0;
    border-collapse: collapse;
    vertical-align: center;
    overflow: visible;
  }

  tr > td:first-child:not(:only-child) {
    width: 40px;
    padding-right: 18px;
  }

  .accessory {
    display: flex;
    align-items: center;
  }
}