.tag-editor {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .add-button {
        margin-bottom: 4px;

        &:not(:first-child) {
            margin-left: 2px;
        }
    }

    .chip {
        border-color: black !important;
        user-select: none;
    }

    .tag-input {
        appearance: none;
        border: none;
        outline: none;
        margin: -2px;
        height: calc(1rem + 2px);
        background: none;
        min-width: 1rem;
    }
}
