.subtasks-list-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > *:only-child {
        margin-top: 1px !important;
    }

    & > *:last-child {
        margin-top: 6px;
    }

    .subtasks-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > *:not(:first-child) {
            margin-top: 4px;
        }
    }
}

.add-button {
    margin-top: 1px !important;

    &:not(:first-child) {
        margin-top: 6px !important;
    }
}

.accessory-cell-align-top {
    vertical-align: top !important;
}