.subtask-cell {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  &.complete {
    text-decoration: line-through;
  }

  .checkbox {
    margin-right: 6px !important;
  }

  .actions {
    display: flex;
    opacity: 0;
    transition: 0.2s;

    margin-left: 6px;

    .action {
      margin: -2px 0px -2px 4px;
    }
  }

  &:hover {
    .actions {
      opacity: 1;
    }
  }
}