@import '../../globals/global';

.username {
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 4%;
}

.change {
    padding-bottom: 2%;
    padding-left: 10%;
}

.delete {
    padding-left: 10%;
}

.yes {
    justify-content: center;
    display: flex;
}
